# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.suo
*.u2d
*.sdf
*.user
*.swp

# Python
__pycache__/
*.py[cod]
*$py.class

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.DS_Store

opt_report.txt
*.optrpt

[Bb]uild*/
!scripts/build/
[Bb]in/
.vs/
.vscode/
*.Rapp.history
log.*

.project
*.nml
!examples/*.nml
fftw*/

#Visual studio code
*.code-workspace

#Backup files
*.bak

#FORD documentations
html/*
